# =========================
# Python compiled files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# ML / Deep Learning
# =========================
*.pth
*.pt
*.ckpt
*.h5
*.onnx

# Large datasets (optional)
data/
datasets/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints

# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Python packaging (GitHub default cleaned)
# =========================
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/

# =========================
# Misc
# =========================
.ruff_cache/
.mypy_cache/